 {% extends 'base.html' %} {% block content %}{% load widget_tweaks%}
<h1>Suivre d'autres utilisateurs</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {% render_field form.user type="text" class="form-control" id="InputUsername" placeholder="Nom utilisateur" %}
    </div>
    <button class="btn btn-primary btn-sm" type="submit">Envoyer</button>
</form>

<h2>Abonnements</h2>
{% for user in following_users %}
<p>{{ user.user }}</p>{% endfor %}
<h2>Abonnés</h2>
{% for user in followed_users %}
<p>{{ user.followed_user }}</p>{% endfor %}{% endblock content %}