 {% extends 'base.html' %} {% block content %}{% load widget_tweaks%}
<h1>Suivre d'autres utilisateurs</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
    </div>
    {% render_field form.user class="form-control" list="datalistOptions" id="id_user" placeholder="Nom utilisateur" %}
    <datalist id="datalistOptions">
    {% for elem in users %}
    <option value={{elem}}>
    {% endfor %}
    </datalist>
    <button class="btn btn-primary btn-sm" type="submit">Envoyer</button>
</form>

<h2>Abonnements</h2>
<h2>Abonnés</h2>{% endblock content %}