<div>
    <div class="d-flex justify-content-between">
        <div>{% if post.user == user%} Vous avez {% else %} {{ post.user}} a {% endif %} a publié une critique</div>
        <div>{{ post.time_created}}</div>
    </div>
    <div class="card-header">{{ post.headline }} - {{ post.rating }}★</div>
    <div class="card-body">
        <p class="card-text">{{ post.body }}</p>
    </div>
    <div class="card text-center" style="width: 18rem;">
        <div>Ticket - {% if post.ticket.user == user%} Vous {% else %} {{ post.ticket.user}} {% endif %} </div>
        <div class="card-header">{{ post.ticket.title }}</div>
        <img src="{{ post.ticket.image.url }}" class="img-thumbnail" style="max-width: 30%; height: auto;">
    </div>
</div>
{% if post.page_type == 'POSTS' %}
<div style="margin-left: auto;">
    <a class="btn btn-primary" href="{% url 'review_update' post.id %}" style="width: 10rem;">Modifier</a>
    <a class="btn btn-primary" href="{% url 'review_delete' post.id %}" style="width: 10rem;">Supprimer</a>
</div> {% endif %}